

.header {
    height: 100px;
    color: #998E78;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.logo {
    width: 100px;
}

.rightWrap {
    display: flex;
    align-items: center;
    gap: 65px;

    .cartIcon {
        position: relative;

        svg {
            path {
                fill: #998E78;
            }
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -15px;
            right: -15px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #998E78;
            color: #fff;
            font-size: 12px;

        }
    }
}


@media(max-width: 991px) {
    .rightWrap {
        gap: 20px;

        .cartIcon {
            span {
                top: 0;
                right: 0;
            }
        }
        
        a {
            padding: 10px;
            
            &:nth-child(2) {
                display: none;
            }
        }
    }
}

@media(max-width: 767px) {
    .header {
        padding: 0 20px;
    }

    .rightWrap {
        margin-left: auto;
    }
}
