
.sortWrap {
    position: relative;
    z-index: 1;

    .label {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
            color: #998E78;
            width: 150px;
            text-align: center;
            border-bottom: 1px dashed #998E78;
            cursor: pointer;
        }
    }

    .popap {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 15px #998E78;
        margin-top: 15px;
        padding: 10px 0;
        position: absolute;
        right: 0; 

        li {
            padding: 10px 25px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            cursor: pointer;

            &:hover {
                border-top: 1px solid #998E78;
                border-bottom: 1px solid #998E78;
            }
        }

        .active {
            border-top: 1px solid #998E78;
            border-bottom: 1px solid #998E78;
            color: #998E78;
        }
    }

}
